.bgcolor{
	background-color: lightgray;
}
.first_header1{
	/*padding: 20px;*/
	background-color: #3f73c6;
	padding: 10px;
	/*height: 50px;*/
}
/*.left_header1 {
	float: left;
	font-size: 15px;
	text-align: center;
	margin-bottom: 10px;
	
}*/
/*.left_header1 ul {
	list-style-type: none;
	/*margin-top:  20px;*/
	/*margin-right: 20px;
	margin-left: 20px;
	padding: 5px;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 10px;
}
.left_header1 li{
	display: inline;
	margin-left: 25px;
	margin-top: 10px;
	font: white;
}*/
.drop_down {

	cursor: pointer;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: none;
	z-index: 1;
}
.dropdown-content button{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.show {display: block;
}

.dropdown {
	position: relative;
	display: inline-block;
}
.right_header1{
	float: right;
	margin-bottom: 10px;
}
.header1_btn{
float: left;
margin-right:  60px;
margin-left: 20px;
}
.success-alt,
.danger-alt{
	display: none;
	position: fixed;
	top: 5px;
	right: 5px; 
}
.second_header{
	background-color: #969fad;
	
}
.third_header{
background-color: #3f73c6;
}
