body {
	padding: 0;
	margin: 0;
}
.top_header{
  background-color: #1c3980;
  height: 40px;
  auto;
}
.top_header_list{
  color: white;
}
.inr_btn{
	background-color: white;
	border: none;
  margin-top: 4px;
  border-radius: 5px;

}

.mdc-list-item__graphic{
  bottom: auto;
}
.mdc-select:not(.mdc-select--disabled) {
  background-color: #1c3980;
}


.mdc-button--dense{
  background-color: white;
  border: none;
} 
.selector{
  border-bottom: 15px;
}
.selector li{
  border-right: 1px solid white;
  color: white;
}
.selector li:last-child{
  border-right: none;
}
.right_header{
 ;
 margin-left: auto;

 /*margin-top: 4px;*/
}
.signin,.signup{

  border-radius: 5px; 
  color: #ffffff; 
  /*padding: 8px;*/
  /*margin-bottom:  10px;*/

}
.mdc-top-app-bar__section--align-end{
  float: right;
}
.signin{
 background-image: linear-gradient(#f5e67b,#e6a02a);
 margin-right: 7px;
     margin-top: -4px;
}
.signup{
  background-image: linear-gradient(#ee8551,#e6573f); 
      margin-top: -4px;
}
/*top and middle header section*/
.mdc-list-item{
  display: inline;
}
/*header   2 code*/
.header2{
	background-color: white;
	height: 80px;
}
.logo_img{
	width: 60px;
	height: 60px;
	margin-left: 120px;
	margin-top: 3px;
	margin-bottom: 2px;
}
.header2ul{
	
	margin-left: 190px;
}
.header2txt{
	color: black;
}
.header3{
	background-color: #3f8cc8;
	height: 50PX;
}

.mdc-text-field {
  width: 42%;
  height: 40px;
  margin-left: 30%;
  border: 1px solid ;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
} 
.search_icon{
  margin: 5px;
  color: black;
}
.search{
 background-image: linear-gradient(#f5e67b,#e6a02a);
 width: 30%;
 height: 100%;
 margin-left: 50px;  
 color: #ffffff; 
 border: none; 
}






.our_mission{
  margin-bottom: 0;
}
.our{
  color: black;
}
.mission{
  color: #6c4c95;
}


.bgimage{
	background-image: url("../image/1.jpg"); 
	height: 500px;
	width:100%;
	margin-left:0;
	margin-right: 0;
	background-image: cover;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;


}
.img_content{
  margin-top: 210px;
}
.sec2{
  margin-top: 10px;
}
.mdc-typography--headline6 {
	color: black;
}
.readmore_btn{
  background-image: linear-gradient(#ee8551,#e6573f);
  color: white;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px; 
}


.travel{
  color: black;
}
.desti{
  color: maroon;
}
.top1{

  background-color: orange;
  text-align: center;
  border: 1px solid orange;
  color: white;
  text-shadow: 1px 1px;
}
.content1{

  border: 1px solid orange;
  padding: 8px;
}
.foot1{

  color: orange;
}
.top2{

  background-color: maroon;
  text-align: center;
  border: 1px solid maroon;
  color: white;
  text-shadow: 1px 1px;
}
.content2{

  border: 1px solid maroon;
  padding: 8px;
}
.foot2{

  color: maroon;
}
.top3{

  background-color: #3a7fbe;
  text-align: center;
  border: 1px solid #3a7fbe;
  color: white;
  text-shadow: 1px 1px;
}
.content3{

  border: 1px solid #3a7fbe;
  padding: 8px;
}
.foot3{

  color: lightblue;
}
.top4{

  background-color: #7D3C98;
  text-align: center;
  border: 1px solid #7D3C98;
  color: white;
  text-shadow: 1px 1px;
}
.content4{

  border: 1px solid #7D3C98;
  padding: 8px;
}
.foot4{

  color: #7D3C98;
}
.top5{

  background-color: #000080;
  text-align: center;
  border: 1px solid #000080;
  color: white;
  text-shadow: 1px 1px;
}
.content5{

  border: 1px solid #000080;
  padding: 8px;
}
.foot5{

  color: #000080;
}
.sec3{
 /*background-color: #f3f3f3;*/
 margin-top: 7px;

}
.sec3mission{
  background-color: #f3f3f3;
}
.sec3img{
 height: 80px;
 width: 280px;
 border-radius: 50%; 
 margin-top: 10px;
 border: 3px solid #dd3b3e; 
}

.mdc-layout-grid {
  padding : 0px;
}

/*section 4*/



.tours{
  color: #e99e2d;
}

.mdc-card__media {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.mdc-card__media.mdc-card__media--16-9.demo-card__media1{
  background-image: url(../image/a.jpg);
}
.mdc-card__media.mdc-card__media--16-9.demo-card__media2{
  background-image: url(../image/b.jpg);
}
.mdc-card__media.mdc-card__media--16-9.demo-card__media3{
  background-image: url(../image/c.jpg);
}
.mdc-card__media.mdc-card__media--16-9.demo-card__media4{
  background-image: url(../image/d.jpg);
}
.mdc-card__media.mdc-card__media--16-9.demo-card__media5{
  background-image: url(../image/e.jpg);
}
.mdc-card__media.mdc-card__media--16-9.demo-card__media6{
  background-image: url(../image/f.jpg);
}
.demo-card__primary {
  padding-left: 15px; 
}
.mdc-card__action{
  padding-bottom: 10px;
}
.text4{
  color: #197bba;
}
.text5{
  color: #9d1448;
}


.btn1{
  background-color:#d8343b;
  border-radius: 5px;
  margin-bottom: 20px;
  background-image: linear-gradient(#f5e67b,#e6a02a);
  color: white;
  margin-left: 20px;
}

.arrow1{
 color: linear-gradient(#f5e67b,#e6a02a);
 color: #e6a02a;
}
.btn2{
  background-color:#d8343b;
  margin-bottom: 20px;
  border-radius: 5px;
  background-image: linear-gradient(#ee8551,#e6573f); 
  color: white;
  margin-left: 20px;
}

.arrow2{
 color: linear-gradient(#ee8551,#e6573f); 
 color: #e6573f;

}
.btn3{
  background-color: #6c4c95;
  border-radius: 5px;
  margin-bottom: 20px;
  color: white;
  margin-left: 20px;
  
}

.arrow3{
  color: #6c4c95;
}
.btn4{
  background-color:#153b86;
  border-radius: 5px;
  margin-bottom: 20px;
  color: white;
  margin-left: 20px;
}

.arrow4{

 color: #153b86;
}
.btn5{
  background-color:#a31a46;
  border-radius: 5px;
  margin-bottom: 20px;
  color: white;
  margin-left: 20px;
  
}

.arrow5{
 color: #a31a46;
}
.btn6{
  background-color:#2d87c3;
  border-radius: 5px;
  margin-bottom: 20px;
  color: white;
  padding: 10px;
  margin-left: 20px;
  
}

.arrow6{

 color: #2d87c3;
}





/*holiday offer sec 5*/

.holyday {
  /*background-color:lightgray;*/
  border:1px solid lightgray;
}
.holyday label{
  margin-left: 150px;
  margin-top: 10px;
  
}
.best_selling{
  color: black;
}
.holyday_sec{
  color: #397dba;
}
.last3sec1{
  margin-top: -10px;
}
.last3sec{
  background-color: #f3f3f3;
}


.per_person .mdc-typography--caption  , label{
  text-align: center;
}
.holyday_txt1{
  color:#6c4c95;
  text-align: center;
}
.holyday_btn1{
  margin-bottom:15px;
  background-color: #6c4c95;
  border-radius: 5px;
  color: white;
}
.holyday_txt2{
  color:#d7383c;
  text-align: center;
}
.holyday_btn2{
  margin-bottom:15px;
  background-color: #d7383c;
  background-image: linear-gradient(#ee8551,#e6573f);
  border-radius: 5px;
  color: white;

}
.holyday_txt3{
  color:#153b86;
}
.holyday_btn3{
  margin-bottom:15px;
  background-color: #153b86;
  border-radius: 5px;
  color: white;
}
.holyday_txt4{
  color:#a31a46;
}
.holyday_btn4{
  margin-bottom:15px;
  background-color: #a31a46;
  border-radius: 5px;
  color: white;

}
.holyday_txt5{
  color:#ebaf41;
}
.holyday_btn5{
  margin-bottom:15px;
  background-color: #ebaf41;
  background-image: linear-gradient(#f5e67b,#e6a02a);
  border-radius: 5px;
  color: white;
}
.holyday_txt6{
  color:#2d87c3;
}
.holyday_btn6{
  margin-bottom:15px;
  background-color: #2d87c3;
  border-radius: 5px;
  color: white;
}
.tab_section{
  padding-right: 20px;
  margin-top: 20px;
}

/*last second code*/
.seclst2img{
  height: 190px;
  width: 190px;
  border-radius: 50%; 
  margin-right: auto;
  margin-left: auto;
  display: block;
  border: 2px solid black

}
.last2sec{
  background-color: white;
  margin-top: 5px;
}




/*footer code*/
.footer{
  background-color: #3f3f41;
}
.footer_about{
  color:#fee06c;
}
.f_about_p{
  color: white;
}
.footer_img{
  margin-top: 13px;
  height: 40px;
  width: 40px;
}
.footer_destination{
  color: #ed8f4f;
}
.f_margin{
  margin-top: -25px;
}
.f_title1{
  color:#ffdb77;
}
.f_title3{
  color: #d33e58;
}
.f_title4{
  color: #6d568b;
}
.f_title5{
  color: #7679db;
}
.f_title6{
  color: #6fa5ce;
}
.footer_bottom{
 background-color: #38383a;
}
h1{
  font-family: 'work_sansbold';
}
